.App {
    /*font-family: ;*/
}
a{
    text-decoration: none;
}
.NavBar
{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4,1fr);
    background: #150578;
    margin-bottom: 5%;
}
.NavBar a{
    color: lightseagreen;
}
.NavBar .navPadding
{
    padding-top: 2.4%;
}
.GameDisplay
{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0.5%;
    margin: 1%;
}
.GameCard
{
    /*padding-top: 2%;*/
    /*padding-bottom: 5%;*/
    background: lightcyan;
    height: 100%;
}

.sampleArt
{
    padding-top: 2%;
    width: 50%;
    height: auto;
    object-fit: fill;
}

.ReviewDisplay
{
    background: lightskyblue;
    padding: 1%;
    margin: 1%;
    width: 90%;
    height: 90%;
    grid-column: 2;
}

.singleGamePage
{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(3,1fr);
    margin-left: 2%;
    margin-right: 2%;

}

.gameArtwork
{
    grid-column: 1;
    grid-row: 1/3;
    width: 65%;
    height: 70%;
}
.gameInfoTitle
{
    grid-column: 2;
    grid-row: 1;
}

.displayGameInfo
{
    grid-row: 3;
    grid-column: 1;
}

.ReviewGamePage
{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,1fr);
    margin-left: 2%;
    margin-right: 2%;
}

.ReviewForm
{
    grid-row: 1;
    grid-column: 2;
}

.reviewGameArtwork
{
    grid-column: 1;
    grid-row: 1/3;
    width: 65%;
    height: 40%;
}

.reviewGameInfo
{
    padding-top: 4%;
    grid-row: 2;
    grid-column: 1;
}

.reviewGameTitle
{
    grid-column: 2;
    grid-row: 1;
}